<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>

            <main class="main">
                <h1>Tu Carrito</h1>
                <form id="formulario_pago">

                    <label for="numero-tarjeta">Número de la Tarjeta:</label>
                    <input type="text" id="numero-tarjeta" name="numero-tarjeta" required>

                    <label for="vencimiento">Vencimiento:</label>
                    <input type="date" id="vencimiento" name="vencimiento" required>

                    <label for="caa">CAA:</label>
                    <input type="number" id="caa" name="caa" required>

                    <label for="nombre-tarjeta">Nombre en la Tarjeta:</label>
                    <input type="text" id="nombre-tarjeta" name="nombre-tarjeta" required>

                    <label for="numero-dni">Número de DNI:</label>
                    <input type="number" id="numero-dni" name="numero-dni" required>

                    <label for="numero-celular">Número de Celular:</label>
                    <input type="tel" id="numero-celular" name="numero-celular" required>

                    <label for="correo-electronico">Correo Electrónico:</label>
                    <input type="email" id="correo-electronico" name="correo-electronico" required>

                </form>

                <div class="total_a_pagar">
                    <div id="numero_de_orden">
                        <p>N° de orden: </p>

                    </div>


                    <label>Total a Pagar:</label>
                    <p id="total_a_pagar_numero">$100.00</p>
                    <button type="submit"><i class="fa-solid fa-arrow-right"></i>Pagar</button>
                </div>




            </main>


            <!-- Footer -->

            <%- include("../partials/footer") %>



                <!-- Scripts -->

                <%- include("../partials/scripts") %>
    </body>


</html>