.create-product {
    background-color: #dee2e6;
    height: 200%;

}

.crear-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #dee2e6;
    padding: 10%;
    padding-top: 60px;
    padding-left: 20%;

}

.input-create {
    max-width: 300px;
}

.h2-create {
    background-color: var(--turquesa);
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 5px 0px #22477d;
    padding-top: 10px;
    width: 400px;
    margin: auto;
}

.button-volver {
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 150px;
}

.label-create {
    background-color: var(--turquesa);
    color: white;
    width: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.switch-create {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black
}

.form-check {
    display: flex;
}

.botones {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-left: 10px;
    padding-top: 30px;
}

a .boton-crear {
    width: 150px;
    margin-right: 200px;
}

.boton-regresar {
    margin-right: 1000px;
    display: flex;
    align-items: center;
}