.nav-categories {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0px 20px;
    box-sizing: border-box;
}

.nav-categories a {
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    color: var(--turquesa) !important;
}

.nav-categories div {
    width: 100%;
}

.nav-categories div a {
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    color: blue;
}

.product-container {
    width: 100%
}

.images-gallery {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#galeria {
    object-fit: contain;
    width: 400px;
    height: 400px;
    padding: 20px;
}

.nav-gallery {
    width: 100%;
}

.nav-gallery ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 100%;
}

.nav-gallery ul li {
    width: 25%;
    height: 120px;
}

.nav-gallery ul li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 50%;
    transition: 0.3s;
    filter: grayscale(50%);


    &:
    hover {
        opacity: 100%;
    margin-top: -5px;
    filter: grayscale(0%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3)}

    &:
    active {
        transform: scale(0.8)}
}

.detail-main h2 {
    font-size: 30px;
    padding: 10px 0px;
    margin: 10px;
    color: darkslategrey;
    border-bottom: 2px solid lightgrey;
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: none;
    margin: 10px auto;
    color: white;
    background-color: var(--turquesa);
    font-size: 20px;
}

.cart-button:hover {
    background-color: var(--azulOscuro);
}