   /*Antes llamaba a todos los elementos Section*/
   .section-register{
    display: flex;
    width: 100%;
    background: #203c58 no-repeat;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 105px);
    overflow: hidden;
}
.contenedor-register{
    margin-top: 20px;
    width: 75%;
    max-width: 420px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-register h2{
    color: white;
    text-align: center;
    width: 100%;
    background: #3C75AE;
    margin: 0px;
}

.input-register{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input-register label{
    color: white;
    font-size: 20px;
}

.input-register input{
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--turquesa);
    color: white;
    font-size: 22px;
}

.input-register input:focus{
    outline: none;
}

.input-register i{
    position: absolute;
    color: blue;
    font-size: 1.6rem;
    top: 10px;
    right: 8px;
}

.text-danger-error {
    color: red;
    width: 100%;
    margin: initial;
    padding: 5px 0px;
    font-size: 18px;

}

.terminos{
    margin: 18px 0 24px;
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: center;
}
.terminos label input{
    margin: 3px;
 }

 .terminos label a{
    color: white;
    text-decoration: none;
    transition: .3s;
    font-size: .9rem;

 }

 .terminos label a:hover{
    text-decoration: underline;
 }

 
 .button-register{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    outline: none;
    transition-property:transform, color;
    transition-duration: 5s, 10s;
 }
 .button-register:hover{
    background-image: linear-gradient(
        150deg,
       
        #09F,
        #00DDFF,
        #3ed36c,
        #f38729,
        #c23ff5
        )
 }


    

 .iniciar{
    font-size: 0.8rem;
    color: white;
    text-align: center;
    margin: 20px 0 18px;
 }
 .iniciar p a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
 }
 .iconos9{
    color: aqua;
    position: absolute;
    top: 430px;
    font-size: 1.5rem;
 }
/* table */
 @media(min-width:768px) {

 }
 @media(min-width: 1024px) {
.input-register{
    margin-top: 40px;
    margin-bottom: 40px;
}
.input-register label{
    font-size: 26px;
}
.input-register input{
    font-size: 24px;

}
    
 }