<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <header class="home-header2">

        <div class="home-div2">
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="iconos2">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </header>
    <main class="home-main2">

        <div class="div-fondo">
            <div class="home-div3">
                <h2>Seleccionaste</h2>
                <div class="div-img"><img src="/images/esponja.png" alt="Esponja">
                    <b>Esponja para cocina</b>
                    <div class="div-cantidad"><p>Cantidad:</p> <button class="cantidad">0</button></div>
                    <div class="agregar"><button class="carrito"> AGREGAR AL CARRITO</button> <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>