<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Home - Siempre Limpio </title>

</head>


<body>
    <main></main>

    <footer class="footer">
       <div class="contenedor_footer">
            <ul class="contacto">
                <p class="resaltado">Contacto</p>
                <li class="icono"><i class="fa-brands fa-whatsapp"></i>+54 9 1167309300</li>
                <li class="icono"><i class="fa-sharp fa-solid fa-phone"></i>011 67309300</li>
                <li class="icono"><i class="fa-regular fa-envelope"></i> contacto@siemprelimpio.com</li>
                <li class="icono"><i class="fa-solid fa-location-dot"></i>Emilio Frugone 4225, Bs. As.</li>
            </ul>
          <div id="suscripción">
                <p id="contenedor_titulo_suscripcion">¡Suscribite para recibir nuestras próximas ofertas!</p>
                <form>
                    <input type="email" id="email" placeholder="Ingresá tu email" name="email" required>
                    <button type="submit">Suscribirse</button>
                  </form>
        
          </div>
        </div>
        <div id="legales">
            <p>Copyright 2023 ©Siempre Limpio. Todos los derechos reservados. Términos y condiciones del servicio | Para reclamos a Defensa de las y los Consumidores ingrese aquí</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/f141bdc188.js" crossorigin="anonymous"></script>
</body>


</html>