<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <title>Home</title>
</head>

<body class="home-body">
    <header class="home-header">
    </header>
    <main class="home-main">
        <div class="div-limpiando">
            <img src="/images/mujer-limpiando.png"  alt="Limpiando">
        </div>
        <div>
            <section>
                <article>
                </article>
                <article>
                </article>
            </section>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>