<!DOCTYPE html>
  <html lang="Es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet" />
      <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
      <link rel="stylesheet" href="./css/style.css">
  </head>
  

  <body>
    <img class="logoprincipal" src="/images/logosiemprelimpio.png" width="220" height="50" alt="logo de siempre limpio">
    
    <section>
        <div class="contenedor1">

            <div class="formulario">
            
                 <h2>BIENVENIDO</h2>
                
                
                <form action="#" >
                

                    <div class="input-contenedor">
                        <input type= "email" required>
                        <label for="#">Email</label>
                    </div>

                    <div class="input-contenedor">
                        <input type= "password" required>
                        <label for="#">Contraseña</label>
                    </div>

                    <div class="olvidar">
                        <label for="#">
                            <input type="checkbox">Recordar
                            <a href="#">¿Olvidaste tu Contraseña?</a>
                        </label>
                    </div>
                </form>

                <div>
                    <button>INICIAR SESION</button>

                    <div class="registrar">
                        <p>¿No tengo cuenta? <a href="#">Registrarse</a></p>
                    </div>
                   
                 
                </div>
                <div class ="iconos9">
                    
                    <i class="fa-solid fa-rotate-left"></i>
                </div>

            </div>


        </div>


    </section>







  </body>

  </html>