
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>register</title>
</head>
<body>
    <header>
       <div class="logo-ubicacion"> 
        <img src="./imagen/siempre-limpio-high-resolution-logo-transparent (1).png" alt="logo" width="
        150px">
    </header>
    <main class="main-register">
            <div>
                <h2>BIENVENIDO</h2>
            </div>

<section class="formulario-registro">
<form class="form-principal row justify-content-center" action="/registro" method="post">
    <div class="col-12 row d-flex flex-colum mb-3 mx-auto" >
        <div class="col-12 col-md-6 col-lg-4">
            <label for="nombre"></label>
            <input type="text" class="form-control  form-control-sm" name="nombre" placeholder="Nombre y apellido" id="nombre">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="email"></label>
            <input class="form-control  form-control-sm" type="email" name="email" placeholder="Ingrese su email" id="email">
        </div>
            <div class="contrasenia">
                <label for="contrasenia"></label>
                <input class="form-control form-control-sm" type="password" name="contrasenia" id="contrasenia" placeholder="contraseña">
            </div>
            <div class="contrasenia">
                <label for="contrasenia"></label>
                <input class="form-control form-control-sm" type="password" name="contrasenia" id="contrasenia" placeholder="repetir contraseña">
            </div>
            <div class="button">
                <button class="submit" type="submit">crear cuenta</button>
               <a href="#">¿ya tienes cuenta ?inicia sesion</a>
            </div>
            <div class="condiciones">
                <label for="terminos">he leido las condiciones y politica de privacidad</label>
                <input type="checkbox" name="terminos">
             </div>
        </form>

        </section>

        </main>

