<!DOCTYPE html>
<html lang="en">
    <!-- head  -->
    <%- include("../partials/head",{title: "iniciar sesion "} ) %> 
<body>

    <%- include("../partials/logo") %>

    <section class="sectionLogin">
        <div class="contenedor1">

            <div class="formulario">
            
                 <h2>BIENVENIDO</h2>
                
                
                <form action="#" >
                

                    <div class="input-contenedor">
                        <input type= "email" required>
                        <label for="#">Email</label>
                    </div>

                    <div class="input-contenedor">
                        <input type= "password" required>
                        <label for="#">Contraseña</label>
                    </div>

                    <div class="olvidar">
                        <label for="#">
                            <input type="checkbox">Recordar
                            <a href="#">¿Olvidaste tu Contraseña?</a>
                        </label>
                    </div>
                </form>

                <div>
                    <button class="buttonLogin">INICIAR SESION</button>

                    <div class="registrar">
                        <p>¿No tengo cuenta? <a href="/autenticacion/registrar">Registrarse</a></p>
                    </div>
                   
                 
                </div>
                <div class ="iconos9">
                    
                    <i class="fa-solid fa-rotate-left"></i>
                </div>

            </div>


        </div>


    </section>





<!-- scrip -->
    <%- include("../partials/scripts") %> 
  </body>


</html>
   
