.admin-main-list {
    font-family: "roboto, sans-serif";
}

.admin-header-list {
    margin-top: 100px;
    margin-left: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;


}

.admin-header-list svg {

    width: 50px;
    height: 30px;

}

.admin-header-list-title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 11px solid rgb(136, 136, 136);
    padding-left: 16px;
    height: 40px;
}

.admin-header-list h2 {
    margin-top: 8px;
    font-weight: 900;
    font-size: 35px;


}

.admin-table-list {
    border-collapse: collapse;
    text-align: center;

    overflow-y: scroll;
    margin-left: 10px
}

.admin-table-list thead th {
    font-size: medium;
    background-color: rgb(185, 180, 180);
}

.admin-table-list th {
    height: 50px;
    width: 603px;
    padding: 19px;
    border-bottom: 1px solid lightgray;
}

.admin-table-list td {
    border-bottom: 1px solid lightgray;
}

.admin-table-list .records:hover {
    background-color: rgb(223, 220, 219);
}
