* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.dash-body  {
    display: flex;
    background-color: beige;
   
}

.barra-lateral {
    height: 100vh;
    width: 225px;
    background-color:#2e0e36;
    width: 100px;
    transition: width 0.3s;
    overflow-x: hidden;
}

.barra-lateral:hover {
    width: 225px; 
}

.barra-lateral:hover ul li span {
    display: inline;
}

.barra-lateral ul li span {
    display: none;
}

.barra-lateral ul li:hover span {
    display: inline;
}

.lupa-busqueda{
    position: relative;
}

#barra-busqueda {
    height: 40px;
    margin: 25px 25px 10px;
    width: 175px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-weight: bold;
}

#lupa{
    position: absolute;
    right: 40px;
    color: black;
    font-size: 20px;
    top: 35px;
}

.img-logo{
    width: 203px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    background-color: dimgray;
    border-radius: 0px 0px 0px 30px;
}

/*.barra-lateral ul{
}*/

.barra-lateral ul li{
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: white;
    list-style-type: none;
    font-weight: bold;
}

.barra-lateral ul li:hover{
    color: #2e0e36;
    background-color:white;
    margin-right: 0;
    border-radius: 30px 0px 0px 30px;
}
