/*HEADER*/
.detailProduct-header{
}

.logo-header img{
}
.favoritos-header{

}
.carrito header{

}
.botonBuscar-header{

}
.main-detailProduct{
    background-image: url(/public/images/img-fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}



@media screen and (min-width: 362px){
    /*HEADER*/
    .detailProduct-header{
        width: 100%;
    }
    .logo-header{
    width: 100%;
}
    .logo-header img{
        width: 70%;
    }
    .favoritos-header{
        display: none;
    }
    .carrito-header{
    display: none;
}
    .botonBuscar-header{
    display: none;
}
   .barraBusqueda-header{
    display: none;
}
    /*MAIN*/
    .barra-busqueda{
        display: flex;
        justify-content: center;
        
    }
    .barraBusqueda-main{
        margin-top: 30px;
    width: 55%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2px;
}
    .lupa-busqueda{
        border-radius: 4px;
        border: 1px solid #666;
        margin-top: 30px;
    }
    .h2-main{
        margin-top: 40px;
        text-align: center;
        color: #474140 ;
    }
    .h3-main{
        text-align: center;
        margin-bottom: 0px;
        color: #474140 ;
    }
    .section-catalogo{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 30px;
    }
    .h1-main{
        margin-top: 40px;
        color: #474140;
        font-size: 20px;
        text-align: center;
    }
    .imagen-producto{
        border: 1px solid #666;
        border-radius: 10px;
        overflow: hidden;
        height: 230px;
    }
    .img-producto{
        width: 230px;
        height: 230px;
        
    }
    
    .articulo-main{
        width: 230px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 60px;
    }
    .descripccion-completa{
        border: 1px solid #666;
        margin-top: 20px;
        border-radius: 10px;
        padding: 5px;
        background-color: #fff;
    }
    .precio-main{
        color: red;
    }
    .descripcionProducto-main{
        text-align: center;
    }
    .iconos-articulo{
        width: 100%;
        display: flex;
        gap: 75%;
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media  screen and (min-width: 768px) {
        /*HEADER*/
        .detailProduct-header{
        }
        .logo-header{
    }
        .logo-header img{
        width: 40%;
        }
        .favoritos-header{
        }
        .carrito-header{
    }
        .botonBuscar-header{
    }
       .barraBusqueda-header{
    }
        /*MAIN*/
        .barra-busqueda{
            
        }
        .barraBusqueda-main{
    width: 50%;
    }
        .lupa-busqueda{
        }
        .h2-main{
        text-align: center;
        font-size: 24px;
        }
        .h3-main{
            text-align: center;
            font-size: 24px;
        }
        .section-catalogo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
        padding: 40px;
        }
        .h1-main{
        font-size: 28px;
        text-align: center;
        margin-bottom: 50px;
        }


        .imagen-producto{
            height: 280px;
        }
        .img-producto{
            width: 280px;
            height: 280px;
        }
        
        .articulo-main{
        width: 280px;
        }
        .descripccion-completa{
        background-color: #fff;
        opacity: 0.8;
        width: 280px;
        }
        .precio-main{
        }
        .descripcionProducto-main{
        }
        .iconos-articulo{
        }
}