.footer {
    background-color: #203C58;
    font-size: 0.8rem;
    font-weight: 100;
    color:white;
}

.contenedor_footer{
    display: flex;
    width: 100%;
    margin-top:15px;
}

.contacto{
    display: flex;
    width: 100%;
    list-style:none;
    flex-direction: column;
    justify-content: space-between;
}


.icono{
    display: flex;
    gap: 0.7rem;
}


.resaltado{
    font-weight: 800;
    }
#suscripcion{
    display: flex;
    flex-direction: column;
  
}
#titulo_suscripcion{
  
    background-color: #00A538;
    border-radius: 20px 0 ;
    width:20vw;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    margin-bottom:0px
}
#suscripcion{
text-align: center;
}

 #formulario_suscripcion_input{
    border-top-right-radius: 20px ;
    width:20vw;
    justify-content: center;
    align-items: center;

 }



#legales{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: lighter;
    color:rgba(161, 161, 161, 0.5);
   
}

#legales p {
    width:100%;
    text-align: center;
}




