
/*body{margin: 0;
        padding: 0;
        box-sizing: border-box;
        }*/

        .edicion-producto{
        background-color:#dee2e6 ;
            height: 200%;

       }

        .form-edit{
            display: flex;
            flex-wrap: wrap;
            background-color: #dee2e6;
            padding: 10%;
            padding-top: 30px;
            padding-left: 20%;
            
        }
        .input-edicion{max-width: 300px;}

        .h2-edit{
          background-color: var(--turquesa);
            color: white;
            display: flex;
            justify-content: center;
            box-shadow: 10px 10px 5px 0px #22477d;
            padding-top: 10px;
            width: 400px;
            margin: auto;
        }
    
         .button-volver{
            margin-right: 10px ;
            margin-top:  10px;
            display: flex;
            flex-direction: row;
            width: 150px;
        }
    
        .form-label{
            background-color: var(--turquesa);
            color: white;
            width: 150px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
        }
        .form-switch{ 
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            color:black
        }
          .form-check{
         display: flex;
                  }

    /*.categorias{
        max-width: 200px;
        margin-left: 1px ;
        margin-bottom: 20px;
        height: 20px;
        bottom: 20px;
    }*/
   

        .buttons{ 
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            gap: 50px;
            margin-left: 10px;
            padding-top: 30px;
        }  
        a .boton-guardar{
            width: 150px;
        }
      
        /*.btn-primary{
            width: 100px
        }*/

        /*input{max-width: 250px;}
        
        textarea{max-width: 200px;}*/
        