/*body{ padding: 0%;
    margin: 0%;
    background-color: var(--azulOscuro);
}
main{
    padding: 0%;
    margin: 0%;
    background-color: var(--azulOscuro);
    height: 100%;
}*/
.h2-product{ color:white;  
    display: flex; 
    justify-content: center; 
    background-color: var(--turquesa);
    padding-top: 10px;
    padding-top: 10px;
    box-shadow: 10px 10px 5px 0px #22477d;
    width: 400px;
    margin: auto;
}
.tabla{
    margin-left: 50px;
    padding-top: 20px;
}
.table-bordered{
    overflow-y: scroll;
    display: block;
    height: 80vh;
}

.button-crear{ padding-bottom :10px;
    width: 100px;

 }
.boton-editar{ width: 80px;

}
.boton-eliminar{
    width: 80px;
    height: auto;
}