body{
    max-width:1920px;
    margin:0 auto;
    overflow-x:hidden;
}

html{
    overflow-x:hidden;
}



main {
    padding-bottom: 81px; 
}

footer {
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}