:root{
    /*paleta de colores*/
    --turquesa: #3b7ec0;
    --azulOscuro: #2c4f72;
    --celeste : #9CCFF3;
    --verdeClaro: #75ED81;
    --verde: #5FC063;
    --naranja : #FF8541;

    /*Tamaños tipográficos*/
    --bodyTextSize: 12px;
    --titleTextSize: 24px;
   
    



}
/*tipografias*/
*{
    font-family: var(--familyRoboto);
    --familyRoboto:
    "Roboto", sans-serif; 
  }