.home-header {
    background-color: #5096da;
    height: 60px;
}

.home-header .iconos2 {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.home-header .burguer {
    display: flex;
    width: 90%;
}

.home-header .home-div1 {
    display: flex;
    margin: 15px;
    color: white;
    font-size: 30px;
}

.home-header img{
    
width: 100%;
}

