#ubicacion-gps {
    font-size: smaller;
    display: none;
}


header .logo-ubicacion {
    background-color: lightgray;
    display: flex;
    padding: 5px;
}

img {}

header .fa-location-dot {
    position: relative;
    margin-right: 20px;
    color: rgb(54, 179, 91);
}

header .seccion-nav-bar {
    background-color: var(--turquesa);
    display: flex;
    padding: 10px;
}

header .barra-busqueda {
    color: white;
    display: flex;
    justify-content: start;
    padding-right: 10px;
}

header form input {
    display: none;
}

.iconos .fa-user {
    display: none;
}

.iconos li {
    display: none;
}

.iconos .fa-bell {
    margin-right: 5px;
}

.iconos p {
    display: none;

}

.iconos {
    display: flex;
    justify-content: flex-end;
    color: white;
    display: none;
}

.burguer-menu {
    color: white;
    width: 50%;
    padding-left: 10px;
}

.burguer-menu i{
    
font-size: 30px;
}

.barra-busqueda i{
    
font-size: 25px;
}

.menu-lista {
    display: none
}

.div-header-a {
    display: none;
}

@media (min-width:768px) {
    header .logo-ubicacion {
        padding: 10px;
    }

    img {
        width: 200px;
        display: block;
    }


    header .fa-location-dot {
        margin-right: 40px;
    }

    header .seccion-nav-bar {
        padding: 17px;
        height: 80px;
    }

    header .barra-busqueda {
    }

    header form input {
        display: flex;
        border-radius: 15px;
        border: none;
        padding: 10px;
        width: 300px;

    }

    .lupa {
        font-size: 20px;
    }

    header .barra-busqueda form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }



    .iconos .fa-user {
        display: flex;
        margin-left: 10px;
        color: white;

    }

    .iconos .fa-user:hover {
        color: #18d931;
    }

    .iconos li {
        display: flex;
    }

    .burguer-menu {
        display: none;
    }

    .iconos {
        bottom: 50px;
        font-size: 14px;
        bottom: 50px;
        top: auto;
    }

    .iconos li a {
        font-size: 10px;
        text-decoration: none;
        list-style: none;
        font-weight: bold;
        color: #18d931;
        cursor: pointer;
        margin-right: 4px;
    }

    .iconos li a:hover {
        color: rgb(60, 199, 58);
        text-decoration: dotted;

    }

    .menu-lista {
        list-style: none;
        display: flex;
        text-align: center;
        padding: 10px;
        margin: 0;
        justify-content: flex-start;
        gap: 40px;

    }

    .categorias {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        background-color: var(--azulOscuro);
    }

    .menu-lista li a {
        text-decoration: none;
        padding: 0px;
        color: white;
        display: block;
        font-size: 14px;
    }

    .menu-lista li {
        text-align: center;
        color: white;
        font-size: 14px;
    }

    .menu-lista li a:hover {
        background-color:rgba(50, 50, 50, 1);
        padding: 10px;
        transition: 0.5s;
        border-radius: 5px;
    }

    .div-header-a {
        border: 1px solid var(--verde);
        border-top-left-radius: 12px;
        background-color: var(--verde);
        font-size: 10px;
        width: 20%;
        height: 25px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .div-header-a a {
        font-weight: bold;
        color: white;
        font-size: 8px;
    }







}

@media(min-width:1024px) {
    header .logo-ubicacion {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: lightgray;
    }

    header .fa-location-dot {
        margin-right: 120px;
    }

    header .fa-location-dot {
        font-size: 30px;
    }

    header .seccion-nav-bar {
    }

    header .barra-busqueda {
        display: flex;
    }

    header form input {
        width: 265px;
        padding: 10px;
    }

    .lupa {
        font-size: 30px;

    }

    .iconos {
        font-size: 20px;
        justify-content: flex-end;
    }

    .iconos li a {
        font-size: 16px;
    }


    .menu-lista {
        display: flex;
        padding: 20px;
        gap: 55px;
    }

    .menu-lista li a {
        display: block;
        font-size: 15px;


    }

    .div-header-a {
        font-size: 12px;
        width: 25%;
        height: 50px;
        display: flex;
    }

    .div-header-a a {
        font-weight: bold;
        color: white;
        font-size: 15px;
    }

    #ubicacion-gps{
        
display: flex;
        
margin-right: 10px;
    }


    header .barra-busqueda{
        
width: 100%;
        
display: flex;
        
justify-content: start;
    }
}