@keyframes deslizar {
    0% {
        left: 0;
    }

    50% {
        left: 600px
    }

    100% {
        left: 0;
    }
}


.home-main {
    background-color: rgb(231, 229, 229);
}

.img-tip {
    display: none;
}

.div-offers {
    display: none;
}

.card-product {
    display: flex;
}

.section-products {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clean-product {
    box-sizing:content-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    height: 350px;
    margin: 10px 20px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    border-radius: 5px;
}

.img-container {
    width: 100%;
    height: 63%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px
}

.img-container img {
    height: 90%;
    width: auto;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: solid 1px var(--turquesa);
    width: 100%;
    margin-top: 10px;
}

.clean-product p {
    font-size: 14px;
    font-weight: 400;
    margin: initial;
    color: var(--azulFont);
}

.clean-product a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.clean-product h2 {
    padding: 5px;
    margin: initial;
    color: var(--azulFont);
    font-size: 24px;
}

.clean-product h3 {
    margin: initial;
    color: var(--azulFont);
    font-weight: bold;
}

#cart-action {
    margin: auto;
    text-decoration: none;
    color: white;
    background-color: var(--turquesa);
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-family: sans-serif;
}

@media (min-width: 426px) {

    .section-products {
        justify-content: space-evenly;
    }

    .clean-product {
        width: 46%;
        height: 350px;
        margin: initial;
        margin: 10px 0px;
        box-shadow: none;

    }

    .clean-product:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .clean-product:hover img {
        transition: 400ms;
        transform: scale(1.1);
    }

    .description-container {}

    .clean-product p {}

    .clean-product a {}

    .clean-product h2 {}

    .clean-product h3 {}

    .cart-action {}

}

@media (min-width: 768px) {

    .section-products {
        max-width: 1200px;
        margin: auto;
    }

    .clean-product {
        width: 30%;
        box-shadow: none;
    }

    .div-offers {
        display: flex;
        width: 435px;
        background-color: var(--turquesa);
        margin-left: 15px;
        padding: 10px;
        margin-top: 15px;
        border-radius: 30px;
    }

    .div-offers h5 {
        width: 435px;
        color: white;
    }

    .div-anuncios {
        width: 30%;
    }

    .img-tip {}

    .img-tip img {
        width: 100%;
    }

    #carouselExample {}

    .carusel-box {}

    .caja-gris {}
}

@media (min-width: 1044px) {

    .div-offers {
        position: relative;
        animation-name: deslizar;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}