/*                                                              GENERAL                                                              */

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/*                                                               BODY                                                               */

.home-body{
}

/*                                                              MAIN                                                                */


.home-main .div-img img{
    width: 100%;
    }


    .carousel-control-prev{
        
    }

    .carousel-control-next{
    }

.home-main{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.home-main .div1 h5{
    margin: 10px 10px 10px 5px;
    background-color: #75ED81;
    font-size: 11px;
    padding: 7px 10px 7px 10px;
    border-radius: 20px;
    border-bottom: 3px solid black;
    width: 258px;
    color: #203C58;
    font-family: system-ui;
}

.home-main .section-productos{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.home-main .section-productos article{
    display: flex;
    width: 40%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.home-main .section-productos article:hover{
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 50px;
}

.home-main .section-productos article img{
    width: 100%;
    padding: 25px 15px 0px 15px;
}

.esponja{
    padding: 15px;
}

.home-main .section-productos article p{
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.home-main .section-productos article h5{
    margin: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.home-main .section-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 75px 0px 25px;
}

.home-main .section-info article{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-main .section-info article p{
    
font-size: 12px;
    
font-family: system-ui;
    
font-weight: bold;
    
width: 120px;
    
text-align: center;
}

.home-main .section-info article img{
    width: 80px;
    margin-top: 10px;
}

.home-main .section-info .paquete{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.home-main .section-info .paquete p{
}