.total{
    color: #203c58;
}
.login{
    

}
.contededorsuperior{

background-color: #3c75ad;

color: white;

padding: 10px 0px 3px 0px;
}
.contededor1{

}
.nombred{

padding: initial;
--bs-border-radius: 12px;
}
.contra{padding: initial;
    --bs-border-radius: 12px;}
.contededor2{
    
}
.contededor3{
    
}