*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
   
}

   /*Antes llamaba a todos los elementos Section*/
   .sectionLogin{
    display: flex;
    width: 100%;
    background: #203c58 no-repeat;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
.contenedor1{
    position: relative;
    width: 400px;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor1 h2{
    color: white;
    text-align: center;
    width: 100%;
    background: #3C75AE;
    top: 26px;
    position: absolute;
    left: 0px;
}

.input-contenedor{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid white;
    padding: 2px;
}
.input-contenedor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight:  bold;
    
}

input:focus ~ label,
input:valid ~ label{
    top: -5px

}
.input-contenedor input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: white;
    font-size: 1.2rem;
}
.input-contenedor i{
    position: absolute;
    color: blue;
    font-size: 1.6rem;
    top: 10px;
    right: 8px;
}
.olvidar{
    margin: 18px 0 24px;
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: center;
}
.olvidar label input{
    margin: 3px;
 }

 .olvidar label a{
    color: white;
    text-decoration: none;
    transition: .3s;
    font-size: .9rem;

 }

 .olvidar label a:hover{
    text-decoration: underline;
 }
 /* 
 button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    outline: none;
    transition-property:transform, color;
    transition-duration: 5s, 10s;
 }
 button:hover{
    background-image: linear-gradient(
        150deg,
       
        #09F,
        #00DDFF,
        #3ed36c,
        #f38729,
        #c23ff5
        )
 }
*/
    

 .registrar{
    font-size: 0.8rem;
    color: white;
    text-align: center;
    margin: 20px 0 18px;
 }
 .registrar p a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
 }
 .registrar p a:hover{
    text-decoration: underline;
 }
 .iconos9{
    color: aqua;
    position: absolute;
    top: 430px;
    font-size: 1.5rem;
 }
/* table */
 @media(min-width:768px) {

    
    
   
    .contenedor1{
        position: relative;
        width: 100%;
        height: 1120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
     .iconos9{
       position: absolute;
       top: 600px;
       left: 63px;
     }
    

 }
 @media(min-width: 1440px) {

    
    /*Antes llamaba a todos los elementos Section*/
    .sectionLogin{
        position: relative;
        width: 100%;
        height: 1374px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor1{
    position: relative;
    width: 100%;
    height: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .contenedor1 h2{
       color: white;
       text-align: center;
       width: 100%;
       background: #3C75AE;
       top: 160px;
       position: absolute;
       left: 0px;
       font-size: 4.9rem;
    }
    
    .input-contenedor{
       position: relative;
       margin: 50px 0;
       width: 570px;
       border-bottom: 7px solid white;
       padding: 2px;
    }
    .input-contenedor label{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: white;
        font-size: 2rem;
        pointer-events: none;
        transition: .6s;
        font-weight: bold;
    }
   
    .input-contenedor input{
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3rem;
    padding: -35px 0 5px;
    color: white;
    overflow: hidden;
    }
        
    
    .olvidar{
     margin: 24px 0 24px;
     font-size: 1.9rem;
     color: white;
     display: flex;
     justify-content: center;
    }
    .olvidar label input{
    width: 40px;
    margin: 5px;
    height: 40px;
    }
    
     .olvidar label a{
       color: white;
       text-decoration: none;
       transition: .3s;
       font-size: 1.9rem;
     }
    
     /*Antes llamaba a todos los buttons*/
     .buttonLogin{
        font-size: 2.9rem;
        width: 100%;
        height: 91px;
        border-radius: 80px;
        background-color: aqua;
        border: none;
        cursor: pointer;
        outline: none;
        transition-property: transform, color;
        transition-duration: 5s, 10s;
     }
    
     .registrar{
       font-size: 1.9rem;
       color: white;
       text-align: center;
       margin: 20px 0 18px;
     }
    
     
     .iconos9{
       position: absolute;
       top: 1260px;
       left: 70px;
       font-size: 80px;
     }
    

 }