
body{ background-color:
    var(--azulOscuro);
    margin: 0%;
    padding: 0
}
h2{
    color: white;
    background-color:var(--turquesa) ;
    display: flex ;
    justify-content: center;}

.main-register{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.formulario-registro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-left: 15px;

}

   .formulario-registro .form{
   }
.form-control-sm{
background-color: white;
width: 250px;
padding: 10px;
border-radius: 10px;
margin-bottom: 10px;
border: 1px solid white;
text-decoration: underline;
color: white;
}

.formulario-registro input{
    color: white;
}

   .condiciones{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
}
div .buttom{ display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-right: 20px;
    font-size: 10px;
    border-radius: 5px;
    padding: 3px;
    padding-right: 10px;
}
