@import url('header.css');
@import url('index.css');
@import url('footer.css');
@import url('detailProduct.css');
@import url('productCart.css');
@import url('detalleProducto.css');


body {
    display: flex;
    flex-direction: column;
    margin: 0;
}





