
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer {
    background-color: #203C58;
    height: 50px; 
    position: relative;
    bottom: 0;
    width: 100%;
}