.admin-header-list{
        margin-top: 100px;
        margin-left: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;

}

.admin-header-list div{
    display: inline-block;
}


.admin-header-list svg{

   width: 50px;
   height: 30px;

}

.admin-header-list h2{

font-weight: bold;
font-size: 24px;
display: inline-block;
}
.admin-table-list{
    border-collapse: collapse;
    text-align: center;

    overflow-y: scroll;
    margin-left: 10px
    }

.admin-table-list thead th{
    font-size:medium;
    background-color: rgb(107, 100, 100);
}

.admin-table-list th{
    height: 50px;
    width: 603px;
    padding:19px;
    border-bottom: 1px solid lightgray;
}

.admin-table-list td{
    border-bottom: 1px solid lightgray;
}

.admin-table-list .records:hover {
    background-color: rgb(223, 220, 219);
}