.bg-user-perfil {
    border-top: solid white 2px;
    background-image: linear-gradient(to bottom, #3b7ec0, #3772ac, #336698, #305a85, #2c4f72);
}

.perfil {
    padding: 15px;
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 15px white;
}

.perfil-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
}


.user-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, white 50%, var(--azulOscuro) 50%);
}

.user-img img{
    width: auto;
    height: 80%;
    border-radius: 50%;
    border: solid white 8px;
}

.user-dates {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 15px white;
}

.user-dates ul {
    width: 100%;
    list-style: none;
    margin: initial;
    padding: initial;
}

.user-dates ul h2 {
    width: 100%;
    background-color: var(--azulOscuro);
    padding: 4px;
    color: white;
    margin: 10px 0px;
}

.user-dates ul li {
    padding: 8px;
    padding-left: 10px;
}

.update-user-info {
    width: 100%;
    height: 50px;
    background-color: var(--azulOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--turquesa) 2px;
    margin-top: 10px;
}

.update-user-info a {
    background-color: var(--turquesa);
    color: white;
    text-decoration: none;
    width: 60%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 2px var(--azulOscuro);

}

.update-user-info a:hover {
    background-color: #3b6a99;
    border: solid 2px var(--turquesa);
    transition: background-color 0.3s;
    transition: border 0.3s;
}

.update-user-info a i {
    padding-left: 10px;
    font-size: 20px;
}

@media (min-width:768px) {
    .bg-user-perfil {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}