<div class="dash-navBar">
<a href="/admin/dashboard/productos"><img class="img-logo" src="/images/logo.png" alt=""></a>
    <div class="barra-lateral">
       
        <div class="lupa-busqueda">
            <input type="text" name="" id="barra-busqueda">
            <button><i id="lupa" class="fa-solid fa-magnifying-glass"></i></button>
        </div>
              
                    <h4 class="admin-navBar-user">
                        <%=locals.userLogin? locals.userLogin.name + " " + locals.userLogin.surname : ""%>
                    </h4>
          
       
        <ul>
            <a href="/admin/dashboard/usuarios"><li><i class="fa-solid fa-users"></i><span> Usuarios</span></li></a>
            <a href="/admin/dashboard/productos"> <li><i class="fa-solid fa-shop"></i><span> Lista de productos</span></li></a>
            <li><i class="fa-solid fa-chart-simple"></i><span> Analíticas</span></li>
            <li><i class="fa-solid fa-message"></i><span> Mensajes</span></li>
            <li><i class="fa-solid fa-file"></i><span> Archivos</span></li>
            <li><i class="fa-solid fa-truck"></i><span> Pedidos</span></li>
            <li><i class="fa-regular fa-heart"></i><span> Favoritos</span></li>
            <li><i class="fa-solid fa-gear"></i><span> Configuración</span></li>
        </ul>
    </div>
</div>

