<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title: "Iniciar sesión"}) %> 
   
<body>

    <%- include("../partials/logo") %>

    <section class="sectionLogin">
        <div class="contenedor1">

            <div class="formulario">
            
                 <h2>BIENVENIDO</h2>
                
                
                <form action="/autenticacion/iniciar" method="post" >

                <!-- EMAIL -->
                    <div class="input-contenedor">
                        <i class="fa-solid fa-envelope"></i>
                        <input type= "email" required name="email" id="email">
                        <label for="#">Email</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type= "password" required name="password" value="" id="contrasenia">
                        <label for="#">Contraseña</label>
                    </div>
                  
                  <div class="olvidar">
                        <label for="#">
                            <input class="form-check-input" name="remember" type="checkbox" id="flexCheckChecked">  Recordarme
                            <a href="#">¿Olvidaste tu Contraseña?</a>
                        </label>
                    </div> 
                    <button class="buttonLogin">INICIAR SESION</button>
                </form>

                <div>
                  

                    <div class="registrar">
                        <p>¿No tengo cuenta? <a href="/autenticacion/registrar">Registrarse</a></p>
                    </div>
                   
                 
                </div>
                <div class ="iconos9">
                    
                    <i class="fa-solid fa-rotate-left"></i>
                </div>

            </div>


        </div>


    </section>






    <%- include("../partials/scripts") %> 
  </body>


</html>
   
