<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title: "Iniciar sesión"}) %> 
   
<body>

    <%- include("../partials/header") %>

    <section class="section-register">
        <div class="contenedor-register">

            <div class="formulario">
            
                 <h2>BIENVENIDO</h2>
                
                
                <form action="/autenticacion/iniciar" method="post" >
                    <div class="input-register">
                        <label for="email">Email</label>
                        <input type= "email" required name="email" id="email">
                    </div>

                    <div class="input-register">
                        <label for="#">Contraseña</label>
                        <input type= "password" required name="password" value="" id="contrasenia">
                    </div>
                  
                  <div class="terminos">
                        <label for="#">
                            <input class="form-check-input" name="remember" type="checkbox" id="flexCheckChecked">  Recordarme
                            <br>
                            <a href="#">¿Olvidaste tu Contraseña?</a>
                        </label>
                    </div> 
                    <button class="button-register" type="submit">INICIAR SESION</button>
                </form>

                <div>
                  <br>

                    <div class="iniciar">
                        <p>¿No tengo cuenta? <a href="/autenticacion/registrar">Registrarse</a></p>
                    </div>
                   
                 
                </div>

            </div>


        </div>


    </section>






    <%- include("../partials/scripts") %> 
  </body>


</html>
   
