<!DOCTYPE html>
 <html lang="es">

 <!-- head -->
    <%- include("./partials/head",{title: "pagina no encontrada "}) %>

  <body class="error-HTML-body">
      
      <div class="section-error">
        <h1 class="error">404</h1>
        <div class="page">Uuups!!! No se pudo encontrar la página que estabas buscando</div>
        <a class="back-home" href="/">Volver a Inicio</a>
      </div>

      <!-- script -->
      
      <%- include("./partials/scripts") %> 
  </body>
 </html>