
.logo-ubicacion { background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.logo-ubicacion img{
    max-width: 200px;
}


body{ background-color:
    var(--azulOscuro);
    margin: 0%;
    padding: 0}

    .main-register{
        background-color: var(--azulOscuro);
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
}
.div-h2{
    width: 100%;
}

.edit-h2{
    color: white;
    background-color:var(--turquesa) ;
    display: flex ;
    justify-content: center;
    width: 100%;
    height: 40px;
    align-items: center;}
    

.main-register{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.formulario-registro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 30px;


}
.div-formularios{ display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 15px;
}




.input-formulario{
background-color: white;
width: 250px;
padding: 10px;
border-radius: 10px;
margin-bottom: 15px;
border: 1px solid white;
text-decoration: underline;
color: white;
}

.formulario-registro input{
    color: white;
}

   .condiciones{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
    width: 80%;
    gap: 4px;
}
.condiciones label{
    font-size: 12px;
    color: white;

}

.div-form-boton button {
    color: white;
    background-color:var(--turquesa);
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 5px;
}
.div-form-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
}

.div-form-boton a{ 
    font-size: 14px;
    color: white;
    text-decoration: unset;
    cursor: pointer;
}
@media (min-width:768px){
    .input-formulario{width: 270px;
    }
.formulario-registro{
    padding: 50px;
}

    .div-formularios{ gap: 20px;
    }
    .condiciones label{
        font-size: 15px;
    }

    .boton-formularios{
        height: 20px;
        width: 110px;}

    .div-form-boton a{
        font-size: 16px;
     }
     .div-form-boton{  
        margin-top: 10px;
        margin-right: 70px;

     }

}
@media (min-width:1024px){
    .input-formulario{width: 350px;
        margin-bottom: 30px;
    }
.formulario-registro{
   padding-right: 0%;
}
.boton-formularios{
    height: 30px;
    width: 120px;
}
.condiciones label{
    font-size: 20px;
}

.div-form-boton a{ 
    font-size: 18px; }








}
