
    <header>
    <!--<div class="logo-ubicacion"> 
        <img src="./images/siempre-limpio-high-resolution-logo-transparent (1).png" alt="logo" width="">
    <i  class="fa-solid fa-location-dot"></i>
       </div>
       -->
    <section class="seccion-nav-bar "> 
        <div class="barra-busqueda">
            <form>
                <input type="text" placeholder="¿Que producto estas buscando?">
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </form>
           
        </div>
       <div class="iconos">
    
        <i class="fa-regular fa-bell"></i>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        <li><a href="/autenticacion/iniciar"><i class="fa-regular fa-user"></i></a><a href="/autenticacion/registrar">Crea tu cuenta</a></li>
    </div>
    <div class="burguer-menu">
     <i class="fa-solid fa-bars"></i>
    </div>
    </section>

    
    <section class="categorias">
        <ul class="menu-lista">
            <li>CATEGORIAS</li>
            <li><a href="">Detergentes</a></li>
            <li><a href="">Limpiadores liquidos</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">Aerosoles</a></li>
            <li><a href="">Geles</a></li>
            <li><a href="">Jabones</a></li>
            
        </ul>
        <div class="div-header-a"><a href="">ecotendencias: lo mas reciente en limpieza responsable</a></div>
    </section>
</header>
    


        
