



<footer class="footer">

    <div class="contenedor_footer">
        <ul class="contacto">
            <p class="resaltado">Contacto</p>
            <li class="icono"><i class="fa-brands fa-whatsapp"></i>+54 9 1167309300</li>
            <li class="icono"><i class="fa-sharp fa-solid fa-phone"></i>011 67309300</li>
            <li class="icono"><i class="fa-regular fa-envelope"></i> contacto@siemprelimpio.com</li>
            <li class="icono"><i class="fa-solid fa-location-dot"></i>Emilio Frugone 4225, Bs. As.</li>
        </ul>

        <section id="suscripción">
            <h2 id="titulo_suscripcion">¡Suscribite para recibir noticias sobre nuestras
                próximas ofertas!</h2>
            <form class="formulario_suscripcion">
                <input id="formulario_suscripcion_input" type="email" id="email" name="email"
                    placeholder="Ingresá tu email">
            </form>
        </section>
    </div>
    <div id="arrepentimiento">
        <p>Botón de arrepentimiento</p>
        <a href="#">Cancelar una compra</a>
    </div>
    <div id="legales">
        <p>Copyright 2023 ©Siempre Limpio. Todos los derechos reservados.
            <a href="#">Términos y condiciones del servicio </a>| Para reclamos a Defensa de las y los Consumidores
            <a href="#">ingrese aquí.</a>
        </p>
    </div>
</footer>