<header>
    <div class="logo-ubicacion">
        <a href="/home"> <img class="logoprincipal" src="../images/logo.png" width="220" height="50"
                alt="logo de siempre limpio"></a>
        <i class="fa-solid fa-location-dot" id="ubicacion-gps"> <b>Enviar a San Miguel, Buenos Aires</b></i>
    </div>

    <section class="seccion-nav-bar ">
        <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        
        <div class="barra-busqueda">
            <form>
                <input type="text" placeholder="¿Que producto estas buscando?">
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </form>

        </div>
        <div class="iconos">

            <i class="fa-regular fa-bell"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/autenticacion/registrar" class="link-user">
                <i class="fa-regular fa-user"></i>
            </a>

        </div>

       <div class="iconos">

        <a href="#">
        <i class="fa-regular fa-bell"></i>
    </a>
    <a href="/carrito">
        <i class="fa-solid fa-cart-shopping"></i>    </a>


        <% if (locals.userLogin) { %>
            <a href="/perfil/editar" class="link-user">
                <i class="fa-regular fa-user"></i>
            </a>
            <a href="/autenticacion/cerrar-sesion" class="link-user">
                <i class="fa-light fa-right-from-bracket"></i>
            </a>
            
            
            
          <% } else { %>
            <a href="/autenticacion/registrar" class="link-user">
                <i class="fa-regular fa-user"></i>
            </a>
            <a href="/autenticacion/iniciar" class="link-user">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
          <% } %>


       

          
         
         
     
    </div>
    <div class="burguer-menu">
     <i class="fa-solid fa-bars"></i>
    </div>
    </section>


    <section class="categorias">
        <nav>
            <ul class="menu-lista">
                <li>CATEGORIAS</li>
                <li><a href="">Detergentes</a></li>
                <li><a href="">Desinfectantes</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Aerosoles</a></li>
                <li><a href="">Geles</a></li>
                <li><a href="">Jabones</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/admin/dashboard" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMIN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>

        </nav>

        </li>
        </ul>
    </section>
    </header>



        
