<header>
  <div class="logo-ubicacion">
    <a href="/home"> <img class="logoprincipal" src="/images/logo.png" width="220" height="50"
        alt="logo de siempre limpio"></a>
    <div class="user-actions">
      <% if (!locals.userLogin) { %>
        <div class="div-button">
          <h3>Ingresar</h3>
          <a href="/autenticacion/registrar" class="button-a">
            <button class="user-button"><i class="fa-solid fa-user-large"></i>
            </button>
          </a>
        </div>
        <% } else { %>
          <a href="/autenticacion/registrar" class="button-a">
            <button class="user-button"><i class="fa-solid fa-user-large"></i>
              <h3>Perfil</h3>
            </button>
          </a>
          <% } %>
            <div class="div-button">
              <h3>Carrito</h3>

              <a href="/carrito" class="button-a">
                <button class="user-button"><i class="fa-solid fa-cart-shopping"></i>
                </button>
              </a>
            </div>
    </div>
  </div>

  <section class="seccion-nav-bar ">
    <div class="burguer-menu">
      <label for="burgcheck"><i class="fa-solid fa-bars"></i></label>
      <input type="checkbox" class="burguer-activate" id="burgcheck">
      <ul class="movile-nav">
        <h2>CATEGORIAS</h2>
        <li><a href="#">Detergentes</a></li>
        <li><a href="#">Limpiadores liquidos</a></li>
        <li><a href="#">Accesorios</a></li>
        <li><a href="#">Aerosoles</a></li>
        <li><a href="#">Geles</a></li>
        <li><a href="#">Jabones</a></li>
      </ul>
    </div>

    <div class="barra-busqueda">
      <form>
        <input type="text" placeholder="¿Que producto estas buscando?">
        <button type="submit"><i class="fa-solid fa-magnifying-glass lupa"></i></button>
        <ul>

        </ul>
      </form>

    </div>
    <!--<div class="iconos">

            <i class="fa-regular fa-bell"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="/autenticacion/registrar" class="link-user">
                <i class="fa-regular fa-user"></i>
            </a>

        </div>

       <div class="iconos">

        <a href="#">
        <i class="fa-regular fa-bell"></i>
    </a>
    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>


        <% if (locals.userLogin) { %>
            <a href="/perfil/editar" class="link-user">
                <i class="fa-regular fa-user"></i>
            </a>
            <a href="/autenticacion/cerrar-sesion" class="link-user">
                <i class="fa-light fa-right-from-bracket"></i>
            </a>
            
            
            
          <%} else { %>
            <a href="/autenticacion/registrar" class="link-user">
                <i class="fa-regular fa-user"></i>
            </a>
            <a href="/autenticacion/iniciar" class="link-user">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
          <% } %>

    </div> -->
  </section>


  <section class="categorias">
    <nav>
      <ul class="menu-lista">
        <li><a href="">Detergentes</a></li>
        <li><a href="">Limpiadores liquidos</a></li>
        <li><a href="">Accesorios</a></li>
        <li><a href="">Aerosoles</a></li>
        <li><a href="">Geles</a></li>
        <li><a href="">Jabones</a></li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/admin/dashboard" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>  -->

    </nav>

    </li>


    </ul>

  </section>
</header>