    <main class="home-main">

        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/mujer-limpiando.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/mujer-limpiando.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/mujer-limpiando.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="div-anuncios">
            <div class="img-tip"> <img src="/images/tips.png" alt="Tips"></div>
            <div class="caja-gris"></div>

        </div>

        <div class="div1">
            <h5>¡OFERTAS DE LA SEMANA DE LA LIMPIEZA!</h5>
        </div>
        <div>
            <section class="section-productos">
                <article id="secador">
                    <a href=""><img class="esponja" src="/images/sadsadsad.png" alt="Secador"></a>
                    <div>
                        <p> Trapeador de piso</p>
                        <h5> $18000 </h5>
                    </div>
                </article>
                <article id="mobile-no">
                    <a href=""><img class="esponja" src="/images/jabonblanco.png" alt="Jabon1"></a>
                    <div>
                        <p> Jabón blanco Gigante </p>
                        <h5> $250 </h5>
                    </div>
                </article>
                <article id="mobile-no">
                    <a href=""><img src="/images/jabonliquido.png" alt="Jabon liquido"></a>
                    <div>
                        <p> Jabón para manos </p>
                        <h5> $750 </h5>
                    </div>
                </article>
                <article id="mobile-no">
                    <a href=""><img src="/images/jabonblanco2.png" alt="jabon2"></a>
                    <div>
                        <p> Jabón blanco Seiseme </p>
                        <h5> $200 </h5>
                    </div>
                </article>
                <article>
                    <a href=""><img src="/images/esponja.png" alt="esponja"></a>
                    <div>
                        <p> Esponja para cocina </p>
                        <h5> $200 </h5>
                    </div>
                </article>
                <article>
                    <a href=""><img src="/images/zorro.png" alt="zorro"></a>
                    <div>
                        <p> Jabon en polvo zorro </p>
                        <h5> $800 </h5>
                    </div>
                </article>
                <article id="if">
                    <a href=""><img src="/images/if.png" alt="if"></a>
                    <div>
                        <p> Detergente if </p>
                        <h5> $900 </h5>
                    </div>
                </article>
            </section>

            <section class="section-productos" id="productos2">

                <article id="mobile-no">
                    <a href=""><img src="/images/jabonblanco.png" alt="Jabon1"></a>
                    <div>
                        <p> Jabon en polvo zorro </p>
                        <h5> $800 </h5>
                    </div>
                </article>
                <article id="mobile-no">
                    <a href=""><img src="/images/jabonliquido.png" alt="Jabon liquido"></a>
                    <div>
                        <p> Jabon en polvo zorro </p>
                        <h5> $800 </h5>
                    </div>
                </article>
                <article id="mobile-no">
                    <a href=""><img src="/images/jabonblanco2.png" alt="Jabon2"></a>
                    <div>
                        <p> Jabon en polvo zorro </p>
                        <h5> $800 </h5>
                    </div>
                </article>
                <article>
                    <a href=""><img src="/images/esponja.png" alt="esponja"></a>
                    <div>
                        <p> Jabon en polvo zorro </p>
                        <h5> $800 </h5>
                    </div>
                </article>
                <article>
                    <a href=""><img src="/images/zorro.png" alt="zorro"></a>
                    <div>
                        <p> Jabon en polvo zorro </p>
                        <h5> $800 </h5>
                    </div>
                </article>
            </section>
        </div>
        <div>
            <section class="section-info">
                <article>
                    <p> Elegi los productos que vas a comprar </p>
                    <img src="/images/tienda.png" alt="Tienda">
                </article>
                <article>
                    <p> ¡Paga con el medio de pago que quieras! </p>
                    <img src="/images/card.png" alt="Tarjeta">
                </article>
                <article class="paquete">
                    <p> Recibí el producto que esperás </p>
                    <img src="/images/paquete.png" alt="Paquete">
                </article>
            </section>
        </div>
    </main>