<html lang="en">
  <%- include("../partials/head", {title: "Crear producto"}) %> 
<body>
  
    <%- include("./dashboard") %> 

    <main class="create-product">
           
  <h2 class="h2-create">crear producto</h2>
  <form action="/views/admin/createProduct.ejs" method="post" class="crear-form"></form>">
<div class="mb-3    col-6 ">
  <label for="exampleInputPassword1" class="form-label label-create">nombre</label>
  <input type="text" class="form-control input-create" id="exampleInputPassword1">
  <hr>
</div>
<div class="mb-3 col-6">
  <label for="number" class="form-label btn-success">id</label>
  <input type="number" class="form-control input-create" id="number" aria-describedby="number">
  <hr>
</div> 

<div class="mb-3  col-6 ">
  <label for="exampleInputEmail1" class="form-label"> Precio</label>
  <input type="text" class="form-control input-create" id="exampleInputEmail1" aria-describedby="emailHelp">
  <hr>
</div> 
   <div class="mb-1  col-6 ">
    <label for="exampleInputPassword1" class="form-label">stock</label>
    <input type="number" class="form-control input-create" id="exampleInputPassword1">
    <hr>
  </div>
  <div class="mb-3    col-6 ">
    <label for="exampleInputPassword1" class="form-label label-create">cantidad</label>
    <input type="text" class="form-control input-create" id="exampleInputPassword1">
    <hr>
  </div>



  <div class="mb-3   descripcion col-6">
    <label for="exampleFormControlTextarea1" class="form-label ">descripcion</label>
    <textarea class="form-control input-create" id="exampleFormControlTextarea1" rows="3"></textarea>
    <hr>
    </div>
   
    
  

     <div class="mb-3 col-6  "> 
        <label for="formFileSm" class="form-label">Selecciona una imagen</label>
        <input class="form-control form-control-sm " id="formFileSm" type="file">
        <hr>
         </div>
         
         <div class="input-group mb-3  col-6  categorias">
          <label class="input-group-text " for="inputGroupSelect01">categorias</label>
          <select class="form-select " id="inputGroupSelect01">
            <option selected>Elige una opción</option>
            <option value="1">Desengrasantes</option>
            <option value="2">Desinfectantes</option>
            <option value="4">Desodorante de pisos</option>
            <option value="5">Detergentes</option>
            <option value="6">Desodorante de ambiente</option>
            <option value="7">Repelentes</option>
            <option value="8">Mopas</option>
          </select>
          <hr>
        </div>
        <div class="form-check form-switch  col-6 switch-create ">
          <input class="form-check-input btn-success " type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">disponible</label>
        <hr>
        </div>

      <div class="botones">

      <button type="submit" class="btn btn-success row gap-3 col-2 boton-crear">Crear producto</button>
          <a href="/admin/dashboard" class="btn btn-primary boton-regresar ">Volver</a>
        </div>

    </form>
      




    </main>
    <%- include("../partials/scripts") %> 
</body>
</html>