<!DOCTYPE html>
  <html lang="Es">
    <%- include("../partials/head") %> 

  <body>

    <img class="logoprincipal" src="../images/logo.png" width="220" height="50" alt="logo de siempre limpio">

    <section>
        <div class="contenedor1">

            <div class="formulario">
            
                 <h2>BIENVENIDO</h2>
                
                
                <form action="#" >
                

                    <div class="input-contenedor">
                        <input type= "email" required>
                        <label for="#">Email</label>
                    </div>

                    <div class="input-contenedor">
                        <input type= "password" required>
                        <label for="#">Contrase単a</label>
                    </div>

                    <div class="olvidar">
                        <label for="#">
                            <input type="checkbox">Recordar
                            <a href="#">多Olvidaste tu Contrase単a?</a>
                        </label>
                    </div>
                </form>

                <div>
                    <button>INICIAR SESION</button>

                    <div class="registrar">
                        <p>多No tengo cuenta? <a href="#">Registrarse</a></p>
                    </div>
                   
                 
                </div>
                <div class ="iconos9">
                    
                    <i class="fa-solid fa-rotate-left"></i>
                </div>

            </div>


        </div>


    </section>







  </body>

  </html>